body {
    text-align: center;
    background-color: black;
    overflow-y:hidden;
}
#header-container{
    height: 50px;
    background-color: #333333;
}
#container-canvas{

}
#main-container{
    vertical-align: top;
    position: relative;
    overflow:hidden;
    background-color: black;
}
#menu-container{
    align-content: center;
    vertical-align: top;
    background-color: black;
}


.menuText{
    background-color: black;
    color: #999999;
    margin-top:  2px;
    margin-bottom:  2px;
    margin-left:  15px;
    margin-right:  2px;
    display: inline-block;
}


.aButton{
    background-color: darkorange;
    border-color: darkorange;
}
.aButton:hover{
    background: orange;
}

