body {
    text-align: center;
    background-color: antiquewhite;
    overflow-y:hidden;
}

#header-container{
    height: 100px;
    background-color: #333333;
}

#main-container{
    vertical-align: top;
    display: inline-block;
    position: relative;
    background-color: dodgerblue;

}

#menu-container{
    align-content: center;
    vertical-align: top;
    display: inline-block;
    background-color: yellowgreen;
    width: 200px;
    height: 250px;
}

.reflection{
    position: absolute;
}
.cell{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    background-color: coral;
    box-sizing: border-box;
}

.not-selectable{

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}



.menuText{
    background-color: #5F9EA0;
    margin-top:  20px;
    margin-bottom:  10px;
    margin-left:  50px;
    width: 100px;
}

#Text2d{
    display: inline-block;
    color: red;
    font-size: 40pt;
}